<h1>News Scraper Application</h1>
<div id="wrapper">
    <h2>
        Articles in the New York Times World Section
    </h2>
    <ul id="articles">
        {{#each articles}} 
            <li>Headline: {{headline}}</li>
            <li>Link: {{link}}</li>
            <li>Summary: {{summary}}</li>
            <input id="titleinput" type="text" name="note" size="100">
            <br/>
            <input id="bodyinput" type="text" name="note" size="100">
            <br/>
            <button class="comment" type="button">Add Comment</button>
            <button class="delete" type="button">Delete Comment</button>
            <br/>
            <br/>
        {{/each}}
    </ul>
    <div id="notes"></div>
</div>
